{
    "rules": {
        "curly": [2, "multi-line"],
        "eol-last": [2],
        "indent": [2, 4],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "max-len": [2, 120, 4],
        "semi": [2, "always"],
        "strict": [2, "never"],
        "no-console": 0,
        "no-undef": 0
    },
    "env": {
        "es6": true,
        "amd": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "extends": "eslint:recommended"
}
